# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

#trigger:
#- master

stages:
- stage: SCA_Debricked
  displayName: 'Stage SCA – Core SCA (Debricked)'
  jobs:
  - job: CoreSCA
    displayName: 'Análisis SCA con Debricked CLI'
    pool:
      name: Default
      demands:
        - agent.name -equals DESKTOP-V47TP49    # tu agente

    steps:
    - checkout: self

    # Si quieres, sigues instalando Node por consistencia, pero ya no es obligatorio
    - task: NodeTool@0
      displayName: 'Instalar Node 20.x'
      inputs:
        versionSpec: '20.x'

    # OJO: ya NO hacemos npm install

    - powershell: |
        Write-Host "Iniciando análisis SCA con Debricked..."
        $exe = "C:\Debricked\debricked.exe"   # ajusta a la ruta real donde lo tengas
        & $exe scan -t "$(DEBRICKED_TOKEN)"
        if ($LASTEXITCODE -ne 0) {
            Write-Error "Debricked detectó violaciones de política"
            exit 1
        }
      displayName: "Debricked SCA – ejecutar CLI local"
      env:
        DEBRICKED_TOKEN: $(DEBRICKED_TOKEN)

# condition:
# - succeeded() → Solo ejecuta si el stage anterior terminó en éxito.
# - succeededOrFailed() → Ejecuta si el anterior fue éxito o fallo (solo no corre si fue cancelado).
# - always() → Ejecuta SIEMPRE, sin importar el resultado de los stages previos.
- stage: SAST_FoD
  displayName: 'Stage SAST – Fortify on Demand'
  dependsOn: SCA_Debricked
  condition: always()
  jobs:
  - job: Job
    pool:
      name: Default
      demands:
        - agent.name -equals DESKTOP-V47TP49
    steps:
      # Descarga el código del repo
      - checkout: self

      # Compilar Sample.java con soporte a preview features
      - script: |
          mkdir -p out
          javac --enable-preview --release 17 -d out Sample.java
        displayName: "Compilar Sample.java"

      # (Opcional) Ejecutar la clase compilada para validar
      - script: |
          java --enable-preview -cp out Sample
        displayName: "Ejecutar Sample.java"

      # Escaneo con Fortify on Demand
      - task: FortifyOnDemandStatic@9
        inputs:
          FortifyProjects: ''
          FodConnection: 'FoD-Java'
          ReleaseOptions: '0'
          ReleaseId: 1671608
          EntitlementSelection: '1'
          EntitlementPreference: '2'
          OverrideScanSettings: '2'
          InProgressScanActionType: '2'
          RemediationScanPreference: '0'
          BuildType: 'none'        
          BuildCommand: 'javac --enable-preview --release 17 Sample.java'
          PolicyFailAction: '0'
